<!-- Posts -->
<ul id="posts">

	{% for post in paginator.posts %}
		
		  <li class="post">
			<a href="{{ post.category | prepend: site.baseurl | replace: '//', '/' }}"><font size="3" color=#006666>[{{ post.category-name }}]</font></a>
			<h2 class="no-padding"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
			<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time>
			<p>{{ post.content | strip_html | truncatewords:50 }}</p>
		  </li>

    {% endfor %}

</ul>